<div id="logo">
  <% if Spree::FrontendLogo.first && Spree::FrontendLogo.first.id %>

      <%= link_to root_path,  class: "standard-logo", "data-dark-logo" => Spree::FrontendLogo.first.attachment_light.url(:original) do %>
          <%= image_tag(Spree::FrontendLogo.first.attachment_dark.url(:original)) %>
      <% end %>

      <%= link_to root_path,  class: "retina-logo", "data-dark-logo" => Spree::FrontendLogo.first.attachment_light.url(:original) do %>
          <%= image_tag(Spree::FrontendLogo.first.attachment_dark.url(:original)) %>
      <% end %>

  <% else %>
      <%= link_to root_path,  class: "standard-logo", "data-dark-logo" => asset_path('logo/LogoPlaceholder_light.png') do %>
          <%= image_tag(asset_path('logo/LogoPlaceholder_dark.png')) %>
      <% end %>

      <%= link_to root_path,  class: "retina-logo", "data-dark-logo" => asset_path('logo/LogoPlaceholder_light@2x.png') do %>
          <%= image_tag(asset_path('logo/LogoPlaceholder_dark@2x.png')) %>
      <% end %>
  <% end %>

  <!--<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Canvas Logo"></a>-->
  <!--<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a>-->


</div>